/* Neon Keys 1.3.0 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(39, 9, 57);
    height: 100%;
    display: flex;
    justify-content: center;
    vertical-align: center;
    flex-direction: column;
}

body, html {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: center;
}

header img {
    width: 1000px;
}



#main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 900px;
    margin: 0 auto;
}

#piano-play {
    width: 700px;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: left;
    border-radius: 5px;
}

#piano-control {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#toggle {
    width: 700px;
    height: 40px;
    display: flex;
    align-items: center;
}

.oct-ctrl-lb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    color: rgb(179, 255, 0);
}

.oct-control {
    color: rgb(179, 255, 0);
    font-size: 3em;
    border: 2px solid rgb(179, 255, 0);
    border-radius: 5px;
    width: 70px;
    min-width: 70px;
    height: 70px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.oct-control:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.oct-control:active {
    background-color: gray;
}

.white {
    background-color: rgba(255, 255, 255, 0.2);
    width: 9.09%; 
    height: 100%;
    border: 2px solid rgb(179, 255, 0);
    border-radius: 5px;
}

.toggle-area {
    color: #ddd;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.toggle-check {
    margin: 5px;
}

.container {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container span {
    margin-left: 10px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}

.check-mark {
    height: 15px;
    width: 15px;
    border:1px solid rgb(179, 255, 0);
    border-radius: 3px;
}

.container:hover input ~ .check-mark {
    background-color: #ccc;
}

.container input:checked ~ .check-mark {
    background-color:rgb(179, 255, 0);
}

.check-mark:after {
    content: "";
    position: relative;
    display: none;
}

.container input:checked ~ .check-mark:after {
    display: block;
}

.container .check-mark:after {
    width: 10px;
    height: 10px;
    background-color: rgb(179, 255, 0);
    border-radius: 3px;
 
  }

.white:active {
    background-color: gray;
}

.black {
    width: 5.7%;
    height: 65%;
    background-color: #3d234d;
    border: 2px solid rgb(179, 255, 0);
    position: absolute;
    border-radius: 5px;
}

.black:active {
    background-color: gray;
}

#CS {
    left: 6%;
}

#DS {
    left: 15%;
}

#FS {
    left: 33.5%;
}

#GS {
    left: 42.5%
}

#AS {
    left: 51.6%
}

#CS2 {
    left: 69.7%;
}

#DS2 {
    left: 79%;
}

.key span {
    
    height: 30px;
    width: 30px;
    pointer-events: none;
    color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key span.w-key-name {
    color: rgb(179, 255, 0);
}

.key span.w-note-name {
    font-size: 1.4em;
}

.key span.b-key-name {
    color: rgb(179, 255, 0);
}

.key span.b-note-name {
    font-size: 1.2em;
}

.note-label {
    visibility: hidden;
}

.key-label {
    visibility: hidden;
}

#kbg-note-label-toggle {
    position: relative;
    left: -117px;
    bottom: -20px;
    font-size: 1.1em;
    color: rgb(179, 255, 0);
}

#kbg-kb-guide-toggle {
    position: relative;
    left: -140px;
    bottom: -20px;
    font-size: 1.1em;
    color: rgb(179, 255, 0);
}

.z-minus {
    font-size: 1.1em;
    color: rgb(179, 255, 0);
}

.np-nav {
    visibility: hidden;
}

.key {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 768px) {
    header img {
        width: 600px;
        margin: auto;
    }

    .piano {
        width: 400px;
        height: 300px;
        margin: 300px auto;
        margin-bottom: 400px;
    }

    body {
        width: 100vw;
        height: 100vw;
    }
} 

@media (max-width: 375px) {
    header img {
        width: 100%;
        margin: 100px auto;
    }

    .piano {
        width: 350px;
        height: 250px;
        margin: 300px auto;
        margin-bottom: 400px;
    }

    body {
        width: 100vw;
        height: 100vw;
    }
} 





